body {background-color: white}
h1 {color:gray;
  font-size: 30px;
font-family:arial}
font-size; 25px;}
h3{color:blue;
  font-size:20px;}
h2{color:brown;}
p{color:lightblue;}
h5{color: navy;
font-size; 30px;}
div{background-color:green;
padding-left:10px;}
