body {background-color: 4444444}
  font-size: 30px;
font-family:arial}
font-size; 25px;}
h3{color:blue;
  font-size:20px;}
h2{color:brown;}
p{color:lightblue;}
font-size; 30px;}
.logo{
  opacity:0;
  transition:opacity 230ms ease-in-out;
}
.logo:hover{
  opacity 1;
}
